:root{
    --primary-color: #F7FAFF;
    --nav-color: #;
    --text-color: #333;
    --border-color: #dbdbdb; 

    --list-color: #ccc
}

*{
    box-sizing: inherit;
}

html{
    line-height: 1.6rem;
    font-family: 'Oswald';font-size: 62.5%;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    margin:0;
}

/* Desgin scrollbar */
/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  .main{
    margin-top: calc((100vh - 690px) / 2);
    height: 600px;
    overflow: hidden;
  }